on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - '20*.*.*' # Push events to matching i.e. 2025.01.18

name: Create Release Draft

jobs:
  publish:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Create Release
        id: create_release
        uses: comnoco/create-release-action@v2.0.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true
          prerelease: false
      - name: Upload buddybackup.plg
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: ./buddybackup.plg
          asset_name: buddybackup.plg
          asset_content_type: text/xml
      - name: Don't forget to manually run makepkg, upload buddybackup.txz and set release live
        uses: mkungla/actions-set-text-output@v1.1.0
        with:
          text: "Don't forget to manually makepkg and upload buddybackup.txz"
          
